### About

This is the notebook for predicting wining side by player performance, namely KDA and minion killed.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.cross_validation import cross_val_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

C:\Users\tim12\AppData\Local\conda\conda\envs\tensorflow_cpu\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('cleanData.csv')
df.shape

(1733658, 30)

In [3]:
cols = df.columns.tolist()
print(cols)

#col concerned:
#kills, death, assists, totminionskilled, duration

['Unnamed: 0', 'id', 'matchid', 'player', 'championid', 'team_role', 'ss1', 'ss2', 'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'win', 'kills', 'deaths', 'assists', 'turretkills', 'inhibkills', 'totminionskilled', 'pinksbought', 'wardsplaced', 'duration', 'baronkills', 'heraldkills', 'dragonkills', 'firsttower', 'firstinhib', 'firstblood']

In [4]:
dataset = df[['win','kills','deaths','assists','totminionskilled','duration']]
dataset = dataset.dropna() #drop all nan rows
dataset.head(10)

   win  kills  deaths  assists  totminionskilled  duration
0  0.0    6.0    10.0      1.0              42.0    1909.0
1  0.0    0.0     2.0     12.0              17.0    1909.0
2  0.0    7.0     8.0      5.0             205.0    1909.0
3  0.0    5.0    11.0      2.0             164.0    1909.0
4  0.0    2.0     8.0      2.0             235.0    1909.0
5  1.0    3.0     3.0      9.0              28.0    1909.0
6  1.0    4.0     5.0     11.0             187.0    1909.0
7  1.0   13.0     4.0      8.0             183.0    1909.0
8  1.0   15.0     3.0      9.0             191.0    1909.0
9  1.0    4.0     5.0     19.0              72.0    1909.0

In [5]:
dataset.shape

(1733655, 6)

In [6]:
train, test = train_test_split(dataset, test_size = 0.1)
print('train:', train.shape, 'test:', test.shape)

train: (1560289, 6) test: (173366, 6)

In [7]:
def get_data_feed(dataset):
    team_data = dataset.iloc[:,1:273]
    winners = dataset['win']
    return team_data, winners 

trainX, trainY = get_data_feed(train)
testX, testY = get_data_feed(test)

In [8]:
print('Logistic Regression accuracy:', np.mean(cross_val_score(LogisticRegression(), trainX, trainY, scoring='accuracy', cv=2)))
print('MultinominalNB accuracy:', np.mean(cross_val_score(MultinomialNB(), trainX, trainY, scoring='accuracy', cv=2)))

Logistic Regression accuracy: 0.7896960115371903
MultinominalNB accuracy: 0.6663964186685511

We can see logistic regression has done a great job here.