### About

This is the notebook for preparing data for hero_prediction model.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleanData.csv')

In [3]:
champions = df.championid.unique().tolist()
champions.append('win')
championsNumber = len(champions)

#### NOTE:

The most recent patch version appears in the datasets is 7.10 (ie around May 17
2017). Number of champions play can choose is 136.

In [4]:
print(championsNumber)

20

In [5]:
rows_list = []
tempRow = [0] * (championsNumber+1)
for idx, x in df['championid'].iteritems():
    i = champions.index(x)
    tempRow[i] = 1
    
    #new team composition, reset the tempRow
    if((idx+1)%5==0): 
        winOrNot = df.get_value(idx, 'win')
        tempRow.append(winOrNot)
        tempD = dict(zip(champions, tempRow))
        rows_list.append(tempD)
        tempRow = [0] * (championsNumber+1)

In [9]:
heroSelect = pd.DataFrame(rows_list)

#putting win as the first column
cols = heroSelect.columns.tolist()
cols.insert(0, cols.pop(cols.index('win')))
heroSelect = heroSelect.reindex(columns= cols)
heroSelect.to_csv('heroSelect.csv')

,win,3,4,19,43,51,62,69,72,103,112,114,115,119,134,161,267,28,157,222
0,0,0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0
1,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,1
2,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0
3,0,0,0,1,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0

In [ ]:
heroSelect.head(10)